.username-form {
  margin-top: 20px; }

.username-input {
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px 15px; }

a:hover.dw-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #2d5986; }

.dw-btn {
  background-color: #336699;
  border: none;
  border-radius: 3px;
  padding: 11px 12px;
  color: #dedede;
  display: inline-block;
  width: 100%; }

.user-avatar {
  width: 40%;
  min-width: 100px;
  max-width: 250px;
  margin: 0 auto;
  display: block; }

.user-info {
  font-size: 1.5em; }
  .user-info p {
    margin-bottom: 0px; }

.section-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 20px; }
  .section-list li {
    width: 100%;
    margin-bottom: 5px; }

@media (min-width: 320px) and (max-width: 700px) {
  .sm-full {
    width: 100%;
    margin-bottom: 30px; }
    .sm-full.username-input {
      margin-bottom: 15px; } }

@media (min-width: 701px) {
  .md-half {
    width: 48%;
    float: left;
    margin-left: 2%; }
    .md-half.username-input {
      width: 73%; }
    .md-half.get-user-info-submit {
      width: 23%; } }

.repo-details-link {
  margin-right: 10px;
  margin-bottom: 10px; }

.main-header {
  margin-bottom: 20px; }

.my-container {
  width: 80%;
  margin: 0 auto; }

.commits-list {
  list-style: none;
  padding-left: 0px; }
  .commits-list li {
    background-color: #efefef;
    padding: 10px 15px;
    margin-bottom: 10px; }
