.gh-stats-container {
  width: 960px;
  margin: 0 auto;
  background-color: #dbdbdb;
  padding: 5px 20px; }

.iphone4-label {
  display: none; }

.iphone5-label {
  display: none; }

.ipad-mini-label {
  display: none; }

.user-avatar {
  max-width: 100px; }

@media (min-width: 320px) and (max-width: 700px) {
  .sm-full {
    width: 100%;
    margin-bottom: 30px; } }

@media (min-width: 701px) {
  .md-half {
    width: 48%;
    float: left;
    margin-left: 2%; } }

.repo-details-link {
  margin-right: 10px;
  margin-bottom: 10px; }

.main-header {
  margin-bottom: 20px; }

.my-container {
  width: 80%;
  margin: 0 auto; }

.commits-list {
  list-style: none;
  padding-left: 0px; }
  .commits-list li {
    background-color: #efefef;
    padding: 10px 15px;
    margin-bottom: 10px; }
